footer {
    background-color: #2d333d;
    color: white;
    padding-top: 30px;
}

.footer__content {
    margin-bottom: 80px;
}

.footer__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.footer__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.footer__logo-wrapper svg {
    height: 50px;
    margin-right: 7px;
    padding: 10px;
    width: 50px;
}

.footer__logo-wrapper svg:nth-child(1) {
    background-color: #3b5998;
}

.footer__logo-wrapper svg:nth-child(2) {
    background-color: #0097da;
}

.footer__logo-wrapper svg:nth-child(3) {
    background-color: #00ccff;
}

.footer__input-wrapper input, .footer__input-wrapper textarea {
    background-color: #252628;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}

.footer__input-wrapper input:focus, .footer__input-wrapper textarea:focus {
    border: 1px solid rgb(0, 147, 216);
    outline: none;
}

.footer__input-wrapper {
    position: relative;
}

.footer__input-label {
    left: 20px;
    position: absolute;
    top: 20px;
}

.footer__input-wrapper input:focus+.footer__input-label,
.footer__input-wrapper textarea:focus+.footer__input-label {
    top: -20px !important;
    transition: 0.2s ease all;
}

.character-counter {
    bottom: 0px;
    font-size: 12px;
    left: 20px;
    position: absolute;
}

#textarea {
    height: 145px;
}

.footer__button {
    align-items: center;
    background-color: rgb(0, 147, 216);
    border-radius: 3px;
    border: none;
    color: white;
    display: flex;
    float: right;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 15px 25px;
}

.footer__button svg {
    margin-left: 20px;
}

.footer_contact {
    border-top: 1px solid #575c64;
    padding-top: 30px;
}

.footer_contact .footer__text {
    margin-bottom: 30px;
}

@media(min-width: 1440px) {
    .footer__content .footer__title {
        margin-bottom: 40px;
    }
    .footer__content .footer__text {
        margin-bottom: 50px;
    }
    .footer__form .footer__title {
        margin-bottom: 35px;
    }
    .footer__form #textarea {
        margin-bottom: 0;
    }
    .character-counter {
        bottom: -25px;
    }
}